asn1crypto==0.24.0
cffi==1.11.5
click==6.7
credentials==1.1
cryptography==2.3
Flask==1.0.2
Flask-HTTPAuth==3.2.4
Flask-Login==0.4.1
Flask-MySQL==1.4.0
flup==1.0.3
flup-py3==1.0.3
flup6==1.1.1
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.8.0
six==1.11.0
virtualenv==15.2.0
Werkzeug==0.14.1
